/*---------------------
     VARIABLES
----------------------*/

$color-body: #9b9b9b;
$color-white: #ffffff;
$color-black: #000000;
$color-dark: #1b1a1a;
$color-dark2: #222222;
$color-gray: #f9f9f9;

$font-heading: 'Heebo',
sans-serif;
$font-body: 'Work Sans',
sans-serif;

$body-font-size: 14px;